@*@model IEnumerable<WebAppV4.Models.File.FileModel>*@
@model WebAppV4.Models.Text.TextModel
@{
    ViewData["Title"] = "Добавление файла";
}
<h3>Выберите файл для загрузки</h3>
<form asp-action="AddFile" asp-controller="Home" method="post" enctype="multipart/form-data">
    <label>Число</label>  <br />
    <input type="text" asp-for="Num" />
    <input type="file" name="uploadedFile" /><br>
    <input type="submit" value="Загрузить" />
</form>
